.cardrows {
  display: table;
}
.collection {
  background-image: url('../../assets/images/vwb5.jpg');
  background-repeat: repeat;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 0 8px 8px black inset;
}

@keyframes fade-in {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
