<header>
  <nav 
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-pink mb-0 "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TCG</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link nav-text" [routerLink]="['/']" style="color: lightgray;">Home</a>
          </li>
          <li>
            <a class="nav-link nav-text" [routerLink]="['/rules']" style="color: lightgray;">Rules</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" >
            <a class="nav-link nav-text" [routerLink]="['/play']" style="color: lightgray;">Play</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-text" [routerLink]="['/collection']" style="color: lightgray;">View Collection</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-text" [routerLink]="['/open']" style="color: lightgray;">Open Packs</a>
          </li>
       <div *ngIf="!loggedIn">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-text" [routerLink]="['/login']" style="color: lightgray;">Login</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link nav-text" [routerLink]="['/register']" style="color: lightgray;">Register</a>
          </li>
      </div>
      <div *ngIf="loggedIn">
        <li class="nav-item">
          <a class="nav-link nav-text" [routerLink]="['/login']" style="color: lightgray;">You are logged in as {{username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-text" style="color: lightgray;">Currency: {{currency}}</a>
        </li>
      </div>

      </ul>
    </div>
    </div>
  </nav>
</header>
