<div class="bgrd">
  <div class="register-page">
    <div class="register-container">
      <div class="register-form-container">
        <h1>Register</h1>
        <form>
          <div class="register-form-item">
            <input type="text" class="form-control w-75" #username id="login" name="username">
          </div>
          <div class="register-form-item">
            <input type="text" class="form-control w-75" #password id="password" name="password">
          </div>
          <div class="register-form-item">
            <button class="btn btn-dark" (click)="onClick(username.value, password.value)">Register</button>
          </div>
        </form>
      </div>
    </div>

    <div class="register-form-info">
      <h2>Why Create an Account?</h2>
      <p>
        Register for new card releases on a frequent basis! Not really.
        This is really just a project that will inevitably be abandonded. The whole app will
        eventually just starve from neglect, a relic long since forgotten by it's creators. In fact,
        why are you even reading this? yes, the cards we have are pretty cool, but what stake do you have
        in staying on this site? Register if you, I actually don't care.
      </p>
    </div>
  </div>
</div>
