<div class="bg-image">
</div>

<div class="register-page">
  <div class="register-form">
    <h1>Register</h1>
    <form>
      <div class="form-element">
        <input type="text" #username id="login" name="username" placeholder="username">
      </div>
      <div>
        <input type="text" #password id="password" name="password" placeholder="password">
      </div>
      <div>
        <button class="btn btn-dark" (click)="onClick(username.value, password.value)">Create Account</button>
      </div>
    </form>
  </div>
</div>

