<div class="bg-image">
</div>

<div class="register-page">
  <div class="register-form">
    <h1>Register</h1>
    <form #registerForm="ngForm">
      <div class="form-element">
        <input type="text" ngModel #username="ngModel" id="login" required name="username" placeholder="username">
        <div class="alert alert-danger" *ngIf="!username.valid && username.touched">Username is required</div>
      </div>
      <div>
        <input type="text" ngModel #password="ngModel" id="password" required name="password" placeholder="password">
        <div class="alert alert-danger" *ngIf="!username.valid && username.touched">Password is required</div>
      </div>
      <div>
        <button [disabled]="!registerForm.form.valid" class="btn btn-dark" (click)="onClick(username.value, password.value)">Create Account</button>
      </div>
    </form>
  </div>
</div>

