.bgrd {
    background-image: url('../images/parchment_paper.jpg');
    height: 100vh;
}

.register-container {
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  width: 500px;
  float: left;
  box-shadow: 10px 10px;
  animation-duration: 2s;
  animation-name: slidein;
  font-family: 'Almendra SC', serif;
  margin-left: 200px;
}

@keyframes slidein {
    0% {
        margin-top: 300px;
        opacity: 0%;
    }

    100% {
        margin-top: 0px;
        opacity: 100%
    }
}

.register-form-container {
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.register-form-item {
  padding-top: 10px;
  font-family: 'Almendra SC', serif;
}

.register-form-info {
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  width: 500px;
  float: right;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 150px;
  margin-right: 200px;
  box-shadow: 10px 10px;
  animation-duration: 2s;
  animation-name: slidein;
  font-family: 'Almendra SC', serif;
}

