<div class="bg-rules">
  <div class="rules">1. A game is played with a deck of 10 cards</div>
  <div class="rules">2. A game is limited at 12 turns</div>
  <div class="rules">3. Each turn you draw a card and gain 1 mana</div>
  <div class="rules">4. When a player plays a card, the cost is subtracted from their mana pool, they may only play a card if they have enough mana, only one card in play at a time</div>
  <div class="rules">5. Once a card is in play it can take two actions, directly attacking the opponent, or attacking the opponents card</div>
  <div class="rules">6. Attacking the opponent directly sacrifices the card, and it is taken out of play</div>
  <div class="rules">7. If the player or opponents health is taken below 0, the game ends</div>
  <div class="rules">8. If neither the player or opponent's health is below 0 by the end of 12 turns, the winner is the side with more health, a draw is declared if they have the same amount</div>
</div>
