.login-page {
  background-image: url('../../assets/images/vwb3.jpg');
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 0 8px 8px white inset;
}

.login-form {
  float: left;
  width: 300px;
  height: 300px;
  margin-left: 42%;
  margin-top: 100px;
  text-align: center;
  padding-top: 50px;
  border-radius: 25px;
  background-color: white;
  animation-duration: 2s;
  animation-name: slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0%;
    margin-top: 300px;
  }

  100% {
    opacity: 100%;
    margin-top: 100px;
  }
}

input {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
