<div class="login-page">
  <div class="login-form">
    <h1>Login</h1>
    <form #loginForm="ngForm">
      <div *ngIf="errorMessage">
        <div class="alert alert-danger">That user does not exist</div>
      </div>
      <div>
        <input type="text" ngModel required #username="ngModel" id="login" name="username">
        <div class="alert alert-danger" *ngIf="!username.valid && username.touched">Username is required</div>
      </div>
      <div>
        <input type="text" ngModel required #password="ngModel" id="password" name="password">
        <div class="alert alert-danger" *ngIf="!username.valid && username.touched">Password is required</div>
      </div>
      <div>
        <button [disabled]="!loginForm.form.valid" id="loginButton" class="btn btn-dark" (click)="onClick(username.value, password.value)">Login</button>
        <button class="btn btn-dark" (click)="logout()">Logout</button>
      </div>
    </form>
  </div>
</div>
