.game-board {
  background-image: url('../../assets/images/vwb4.jpg');
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 0 8px 8px black inset;
  display:flex;
  justify-content:center;
  font-size:30px;
}

.concede-button{
    position:absolute;
    background-color:black;
    color:white;
    top:10%;
    left:2%;
    height:40px;
    width:140px;
}
.end-turn {
  position: absolute;
  left: 15%;
  top: 70%;
}

.enemy-face {
  background-color: red;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 35%;
  top: 10%
}

.turn-counter {
  position: absolute;
  left: 10%;
}
.player-hand {
  position: absolute;
  display: flex;
  bottom: -8%;
  justify-content: center;
}

.description {
  position: absolute;
  top: 40%;
  left: 3%;
  font-size:60px;
  color:white;
  font-weight:bold;
}

.playerCard {
  position: absolute;
  bottom: 23%
}

.enemyCardPlay {
  position: absolute;
  top: 13%;
}

.playerDeck {
  background-image: url('../../assets/images/card back.jpg');
  position: absolute;
  right: 5%;
  bottom: 10%;
  height: 400px;
  width: 300px;
}

.enemyDeck {
  background-image: url('../../assets/images/card back.jpg');
  position: absolute;
  right: 5%;
  bottom: 10%;
  height: 400px;
  width: 300px;
}
.enemyCard {
  background-image: url('../../assets/images/card back.jpg');
  height: 400px;
  width: 300px;
}
.enemyHand {
  display: table;
  top:15%;
}

.playerStatus {
  position: absolute;
  bottom: 15%;
  left: 5%;
}

.enemyStatus {
  position: absolute;
  top: 25%;
  left: 36%;
}

