<div class="container">
  <img class="card-border"src="assets/images/{{ color }}.png" style="width: 300px;height: 400px;" />
  <img class="card-image"src="assets/images/{{imgurl}}.jpg" style="width:270px;height:270px" />
  <div class="card-name"> {{name}}</div>
  <div class="card-cost">Cost: {{cost}}</div>
  <div class="card-defense">Defense: {{defense}}</div>
  <div class="card-attack">Attack: {{attack}}</div>
  <img class="rarity"src="assets/images/{{rarity}}.png" style="width:15px;height:15px;"/>
</div>
