
<div  class="container">

  <img class="card-border"src="assets/images/{{ card.color }}.png" style="width: 300px;height: 400px;" />
  <img class="card-image"src="assets/images/{{ card.name}}.png" style="width:270px;height:270px" />
  <div class="card-name"> {{card.name}}</div>
  <div class="card-cost">Cost: {{card.cost}}</div>
  <div class="card-defense">Defense: {{card.defense}}</div>
  <div class="card-attack">Attack: {{card.attack}}</div>
  <img class="rarity"src="assets/images/{{card.rarity}}.png" style="width:15px;height:15px;"/>

</div>
