
.container {
  display: table-cell;
  position: relative;
  text-align: left;
  color: black;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}
.card-border{
    position: relative;
    top:0;
    left:0;
}
.card-image{
    position: absolute;
    top: 25px;
    left: 25px;
}

/* Bottom left text */
.card-defense {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 35px;
}

/* Top left text */
.card-name{
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 22px;
}

/* Top right text */
.card-cost {
  font-size: 12px;
  position: absolute;
  top: 9px;
  left: 262px;
}

/* Bottom right text */
.card-attack {
  font-size: 12px;
  position: absolute;
  bottom: 25px;
  left: 240px;
}

/* Centered text */
.card-flavor {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rarity {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
